{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>IMS | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'w3css.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ims-app.css' %}">
	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
</head>
<body>
    <div id="sidebar" class="w3-sidebar w3-bar-block w3-large w3-padding w3-dark-gray w3-card-2" style="width:20%">
        <h3 class="w3-bar-item w3-teal">IMS</h3>

        <a href="/" class="w3-bar-item w3-button">Home</a>

        <a href="/stocks" class="w3-bar-item w3-button">Stocks</a>

        <button class="w3-button w3-block w3-left-align" onclick="StockInFunc()">
            Stock In<i class="fa fa-caret-down"></i>
        </button>
        <div id="stockInId" class="w3-hide w3-white w3-card-2">
            <a href="/stock_in/" class="w3-bar-item w3-button">Add</a>
            <a href="/stock_in_list/" class="w3-bar-item w3-button">View List</a>
        </div>

        <button class="w3-button w3-block w3-left-align" onclick="StockOutFunc()">
            Stock Out<i class="fa fa-caret-down" aria-hidden="true"></i>
        </button>
        <div id="stockOutId" class="w3-hide w3-white w3-card-2">
            <a href="/stock_out/" class="w3-bar-item w3-button">Add</a>
            <a href="/stock_out_list/" class="w3-bar-item w3-button">View List</a>
        </div>

        <button class="w3-button w3-block w3-left-align " onclick="ProductFunc()">
            Product <i class="fa fa-caret-down"></i>
        </button>
        <div id="productId" class="w3-hide w3-white w3-card-2">
            {% if user.is_superuser %}
                <a href="/add_product/" class="w3-bar-item w3-button">Add Product</a>
            {% endif %}
            <a href="/product_list/" class="w3-bar-item w3-button">Product List</a>
        </div>
        <button class="w3-button w3-block w3-left-align" onclick="GroupFunc()">
            Group <i class="fa fa-caret-down"></i>
        </button>
        <div id="groupId" class="w3-hide w3-white w3-card-2">
            {% if user.is_superuser %}
                <a href="/add_group/" class="w3-bar-item w3-button">Add Group</a>
            {% endif %}
            <a href="/group_list/" class="w3-bar-item w3-button">Group List</a>
        </div>

        <button class="w3-button w3-block w3-left-align" onclick="CompanyFunc()">
            Company <i class="fa fa-caret-down"></i>
        </button>
        <div id="companyId" class="w3-hide w3-white w3-card-2">
            {% if user.is_superuser %}
                <a href="/add_company/" class="w3-bar-item w3-button">Add Company</a>
            {% endif %}
            <a href="/company_list/" class="w3-bar-item w3-button">Company List</a>
        </div>

        <button class="w3-button w3-block w3-left-align" onclick="SupplierFunc()">
            Supplier <i class="fa fa-caret-down"></i>
        </button>
        <div id="supplierId" class="w3-hide w3-white w3-card-2">
            {% if user.is_superuser %}
                <a href="/add_supplier/" class="w3-bar-item w3-button">Add Supplier</a>
            {% endif %}
            <a href="/supplier_list/" class="w3-bar-item w3-button">Supplier List</a>
        </div>

    </div>

    <div id="headbar" style="margin-left:20%">

        <div class="w3-container w3-teal" id="main-header">
            {% if user.is_authenticated %}
                <a href="/logout/" class="w3-right w3-bar-item w3-button">Logout</a>
                <a href="#" class="w3-right w3-bar-item w3-button">welcome [{{ user }}]</a>
            {% else %}
                <a href="/login/" class="w3-right w3-bar-item w3-button">Login</a>
            {% endif %}

        </div>

    <div class="w3-container">
        <br><br><br>
        {% block content %}

        {% endblock %}

    </div>

</div>

<script>
function StockInFunc() {
    var x = document.getElementById("stockInId");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-green", "");
    }
}

function StockOutFunc() {
    var x = document.getElementById("stockOutId");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
    } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" w3-green", "");
    }
}

function ProductFunc() {
    var x = document.getElementById("productId");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-green", "");
    }
}

function GroupFunc() {
    var x = document.getElementById("groupId");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-green", "");
    }
}

function CompanyFunc() {
    var x = document.getElementById("companyId");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-green", "");
    }
}

function SupplierFunc() {
    var x = document.getElementById("supplierId");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
    } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" w3-green", "");
    }
}
</script>

{% block javascript %}{% endblock %}
</body>
</html>

