{% extends 'base.html' %}

{% block title %}Stock list{% endblock %}

{% block content %}

    <table class="w3-table-all w3-hoverable w3-centered w3-card-4">
        <tr class="w3-brown w3-large">
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Unit</th>
        </tr>
        {% for items in lists %}
        <tr>
            <td>{{ items.product_name }}</td>
            <td>{{ items.product_price }}</td>
            <td>{{ items.product_unit }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}