{% extends 'base.html' %}

{% block title %}supplier list{% endblock %}

{% block content %}
    <table class="w3-table-all w3-hoverable w3-centered w3-card-4">
        <tr class="w3-brown w3-large">
            <th>Supplier Name</th>
            <th>Supplier Address</th>
            <th>Supplier Contact</th>
            <th>Supplier Email</th>
        </tr>
        {% for items in lists %}
        <tr>
            <td>{{ items.supplier_name }}</td>
            <td>{{ items.supplier_address }}</td>
            <td>{{ items.supplier_contact }}</td>
            <td>{{ items.supplier_email }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}