{% extends "admin/base.html" %}

{% block title %}{{ title }} | IMS{% endblock %}

{% block extrastyle %}
<style>
    #header{
        background-color: #009688;
        color: #f6ef6a;
    }
    #branding h1, #branding h1 a:link, #branding h1 a:visited {
        color: #f5dd5d;
        font-size: 35px;
        font-weight: 600;
    }
    div.breadcrumbs{
        background: #009688;
        font-size: 16px;
    }
    #user-tools{
        font-weight: 500;
        font-size: 13px;
    }
    td, th {
        font-size: 15px;
        padding: 10px;
    }
    .module h2, .module caption, .inline-group h2{
        font-size: 15px;
        background: #009688;
    }
    #content{
        padding: 60px 90px;
    }
    .dashboard #content {
        width: 800px;
    }

    </style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">IMS ADMINISTRATION</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}